<div class="container mt-2">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h2 class="float-start">{{item[0]?.guid}}</h2>
                    <a href="/" class="btn btn-sm btn-secondary float-end">Back</a>
                    <div class="clearfix"></div>
                </div>
                <div class="card-body">
                   {{item[0]?.data}}
                </div>
            </div>
        </div>
    </div>
</div>